*{
    padding: 0px;
    margin: 0px;
    background: white;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
h2{
    text-align: center;
    color: red;
}
p{
    text-align: center;
    font-size: 20px;
}
#Sr{
    height: 14rem;
    width: 13rem;
   display: block;
   margin-left: auto;
   margin-right:auto ;
   margin-top: 120px;
}
.flower{
    padding: 20px;
}

