*{
   padding: 0; 
   margin: 0;
}
 body {
        margin: 0;
        padding: 0;       
        background:linear-gradient(135deg,#ff9a9e, #fad0c4,#ff9a9e);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font: all-petite-caps;
        font-family: 'Comic Sans MS', cursive, sans-serif;
    }

    .card {
        background: white;
        padding: 30px;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0 10px 25px rgba(0,0,0,0.2);
        height: 250px;
        width: 320px;
        animation: pop 1s ease;
    }

    @keyframes pop {
        0% { transform: scale(0.5); opacity: 0; }
        100% { transform: scale(1); opacity: 1;}
    }

    h1 {
        color: #ff4d6d;
        margin-bottom: 30px;
    }

    p {
        color: #555;
        font-size: 26px;
    }

   #yesBtn {
    height: 50px;
    width: 150px;
    background-color: #ff4d6d;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 35px;
    cursor: pointer;
    transition: 0.3s;
}
  
    button:hover {
        background: #ff1e4d;
        transform: scale(1.05);
    }

    .heart {
        position: absolute;
        font-size: 20px;
        color: #ff4d6d;
        animation: float 6s linear infinite;
    }

    @keyframes float {
        0% {
            transform: translateY(100vh);
            opacity: 1;
        }
        100% {
            transform: translateY(-10vh);
            opacity: 0;
        }
    }

    .hidden {
        display: none;
        margin-top: 15px;
        color: #ff4d6d;
        font-weight: bold;
    }
    