*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
}
.Img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
    width: 23rem;
}
h1{
    color: red;
}
p{
    text-align: center;
    font-size: 20px;
    padding: 5px;
}
#button{
    background-color: ;
     font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
     background-color: #ff1744;
     color: white;
}